//- 
include ../includes/general-variables.pug
block variables

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title My Site - #{title}
		link(rel="shortcut icon", href= images + "/sport_soccer.png", type="image/x-icon")
		//- link(rel="shortcut icon", href= assets + "/images/favicon-32x32.png", type="image/png")
		//- link(rel="shortcut icon", href= assets + "/images/favicon-16x16.ico", type="image/png")
		meta(name="description", content= desc)
		meta(name="keywords", content= keywords)
		link(rel="stylesheet", href= css + "/style.css")
	body
		main(data-role= pageRole)
			block header
			p #{js}
			p #{css}
			p #{images}
			block content
		include ../includes/footer.pug
		script(src= js + '/app.js')
		block scripts