footer
	.container 
		.row 
			.col-md-6
				nav
					ul 
						li
							a(href="./terms-of-use.html") Terms of Use
						li
							a(href="./privacy-notice.html") Takeda Privacy Notice
						li
							a(href="mailto:Medinfoemea@takeda.com", target="_blank") Medical Information
			.col-md-6 
				p
					| To report any side effect(s) please contact Takeda Drug Safety Officer:
					br
					| E-mail: AE.MiddleEast@takeda.com
					br
					| Takeda Pharmaceuticals FZE
					br
					| One Central, The Offices [5], Office No.2.04
					br
					| Dubai World Trade Center Free Zone
					br
					| Dubai, P.O Box 333964, United Arab Emirates
					br
					| Telephone +971-4-596-3400
	.container 
		.row 
			.col-12
				p.target