.f {
	@for $i from 12 through 25 {
		&-#{$i} {
			font-size: toRem($i) !important;
			// @include media-breakpoint-down(lg) {
			// 	font-size: toRem(#{$i} * 0.75);
			// }
		}
	}

	@each $size in 32,36,48,58   {
		&-#{$size} {
			font-size: toRem($size) !important;
			// @include media-breakpoint-down(lg) {
			// 	font-size: toRem(#{$i} * 0.75);
			// }
		}
	}
	
	&-semibold {
		font-weight: 600;
	}
}

