
// Colors
$c-white: #fff;
$c-body-bg: $c-white;
$c-black: #000;
$c-red: #ee1100;
$c-smoke: #ddd;
$c-wsmoke: #F6F6F6;
$c-ebony: #2F3136;

// Fonts
$font-opensans: 'Open Sans', sans-serif;

// Sizes
$headerFooterWidth: 1320px;
$headerHeight: 90px;