//- page-a.pug

extends ../templates/layout.pug

block variables
	-var title = "Sub"
	-var desc = "Sub Page"
	-var keywords = "Sub,Page"
	-var pageRole = "sub"
	

block header 
	include ../includes/header.pug


block content
	section#hero
		.container
			.row
				.col-md-12
					h1 Lorem Ipsum Dolor Sit Amet
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. At minus commodi et ipsa, quam perspiciatis dolor magnam saepe veritatis, labore, molestias maxime beatae quis. Minima, asperiores! Distinctio, totam harum? Ullam?
					p Possimus similique deleniti dolore hic, labore quam corrupti! Enim, amet tenetur? Unde hic quasi incidunt ratione! Necessitatibus porro veritatis nobis molestias quod maxime libero voluptatem rem vel earum! Cum, modi.
					p Veniam reprehenderit quas praesentium aperiam maxime quibusdam consequatur delectus debitis, impedit ab odio dolorem vero itaque rerum possimus iste officia laboriosam saepe nihil! Pariatur nihil cumque sequi in aliquid enim!
					p Sed, ipsum a. Quae, facilis. Voluptas, neque! Aut laudantium debitis sint nostrum fugiat omnis magnam quibusdam nulla facere, optio perferendis esse sapiente labore odit quia, pariatur quae, vel mollitia est!
					p Adipisci, nam! Maxime assumenda exercitationem sunt. Non obcaecati facere ipsum quam molestias suscipit velit minus eligendi optio ut quas quia inventore, culpa explicabo aliquam qui animi, libero, est quis dolorem?
					p Est reprehenderit blanditiis sunt iusto impedit? Recusandae excepturi voluptates nesciunt laudantium quaerat incidunt molestias temporibus illum ad quia commodi, inventore accusantium culpa doloribus architecto! Consequatur, quo laudantium. Fugit, corporis esse?
					p Ea, blanditiis dignissimos amet facere optio atque accusamus nobis vel aut non sunt voluptate ab obcaecati est quae commodi praesentium ducimus, aperiam nisi asperiores. Libero suscipit animi aut placeat dicta.
					p Sed repellat, qui deleniti explicabo similique quidem animi architecto culpa iusto cum magnam, quis voluptate earum iste eveniet quibusdam totam deserunt at debitis, itaque ducimus est ad obcaecati laboriosam? Fugiat!
					p Veritatis laborum suscipit quibusdam illum recusandae quas ut quos atque aut, est velit praesentium maiores, libero, sunt quaerat. Quidem similique non maxime incidunt obcaecati pariatur eligendi rem magni, perspiciatis adipisci?
					p Perferendis a explicabo provident dolor quisquam asperiores vitae ad minus reiciendis rerum velit aperiam repudiandae maiores qui ullam nemo nobis perspiciatis fugiat nesciunt, repellendus natus ea, magnam nostrum. Sed, ipsa?
					p Qui enim commodi inventore possimus voluptatibus praesentium sequi explicabo et provident temporibus repellendus alias facilis, minima ex aspernatur recusandae tenetur distinctio voluptatem debitis numquam ipsam! Porro velit quos pariatur illo.
					p Ducimus delectus tempora ipsam dignissimos aperiam repudiandae molestiae asperiores harum provident! Modi voluptatum expedita porro nemo odio ea eligendi tempora hic natus? Voluptatibus distinctio iusto dolore! Velit consequuntur modi error.
					p Cum nemo saepe repellat doloremque voluptatibus ipsum assumenda dolorem sit commodi aperiam, culpa dolore laborum id mollitia vero recusandae a labore ea eos nam sunt ex. Mollitia eum veritatis possimus?
	

block scripts
	script. 
		//- alert();
		